{
  "openapi": "3.0.1",
  "info": {
    "title": "TicketHive API",
    "description": "TicketHive is a robust platform for event ticket management, providing secure authentication, user management, and seamless event operations.",
    "version": "1.0.0",
    "contact": {
      "name": "TicketHive Support",
      "email": "support@tickethive.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.tickethive.com",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.tickethive.com",
      "description": "Staging server"
    }
  ],
  "paths": {
    "/api/auth/register": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Register new user",
        "description": "Create a new user account with the provided registration information.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User login",
        "description": "Authenticate user and return a JWT token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/events": {
      "get": {
        "tags": ["Events"],
        "summary": "Get all events",
        "description": "Retrieve all events.",
        "responses": {
          "200": {
            "description": "Events retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Events"],
        "summary": "Create new event",
        "description": "Create a new event with the provided information.",
        "security": [{"BearerAuth": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/tickets": {
      "get": {
        "tags": ["Tickets"],
        "summary": "Get tickets",
        "description": "Retrieve tickets with pagination and filtering options.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Page size",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tickets retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketPagedResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RegisterRequest": {
        "type": "object",
        "required": ["email", "password", "firstName", "lastName"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          },
          "password": {
            "type": "string",
            "minLength": 6,
            "example": "SecurePassword123!"
          },
          "firstName": {
            "type": "string",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "example": "Doe"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          },
          "password": {
            "type": "string",
            "example": "SecurePassword123!"
          }
        }
      },
      "AuthenticationResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          },
          "refreshToken": {
            "type": "string",
            "example": "refresh_token_here"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "example": "2025-10-03T12:00:00Z"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "title": {
            "type": "string",
            "example": "Rock Concert 2025"
          },
          "description": {
            "type": "string",
            "example": "An amazing rock concert featuring top artists"
          },
          "location": {
            "type": "string",
            "example": "Madison Square Garden, New York"
          },
          "startDateTime": {
            "type": "string",
            "format": "date-time",
            "example": "2025-12-01T20:00:00Z"
          },
          "endDateTime": {
            "type": "string",
            "format": "date-time",
            "example": "2025-12-01T23:00:00Z"
          },
          "isPublished": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "CreateEventRequest": {
        "type": "object",
        "required": ["title", "description", "location", "startDateTime", "endDateTime"],
        "properties": {
          "title": {
            "type": "string",
            "example": "Rock Concert 2025"
          },
          "description": {
            "type": "string",
            "example": "An amazing rock concert featuring top artists"
          },
          "location": {
            "type": "string",
            "example": "Madison Square Garden, New York"
          },
          "startDateTime": {
            "type": "string",
            "format": "date-time",
            "example": "2025-12-01T20:00:00Z"
          },
          "endDateTime": {
            "type": "string",
            "format": "date-time",
            "example": "2025-12-01T23:00:00Z"
          }
        }
      },
      "Ticket": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "eventId": {
            "type": "string",
            "format": "uuid",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "name": {
            "type": "string",
            "example": "VIP Ticket"
          },
          "description": {
            "type": "string",
            "example": "VIP access with backstage pass"
          },
          "price": {
            "type": "number",
            "format": "decimal",
            "example": 299.99
          },
          "quantity": {
            "type": "integer",
            "example": 100
          },
          "isActive": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "TicketPagedResult": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ticket"
            }
          },
          "totalCount": {
            "type": "integer",
            "example": 150
          },
          "pageSize": {
            "type": "integer",
            "example": 10
          },
          "currentPage": {
            "type": "integer",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "example": 15
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}